{% extends 'blog/certificadoBase.html' %}

{% block content %}

        <img id='imagemcertif' src="../../static/images/Certificado.png">

        <p class='texto_certificado'>

            Certificamos que <b>{{ nomePaticipante }}</b>, inscrito(a) no CPF: <b>{{ cpfParticipante }}</b>, participou do <b>II Fórum de Saúde Mental - Trabalho Contemporâneo e a Saúde Mental do Trabalhador</b>,
            evento promovido pela Prefeitura Municipal de Piripiri-PI e Secretaria Municipal 
            de Saúde por meio do <b>Centro de Atenção Psicossocial II</b>, 
            realizado no dia <b>10 (dez) de outubro de 2019</b>,
            perfazendo uma carga horária de <b>04 horas</b>. 

        </p>
{% endblock %}

    
    
